// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-samsung-a2015-common.dtsi"

/ {
	model = "Samsung Galaxy A3U (EUR)";
	compatible = "samsung,a3u-eur", "qcom,msm8916";
};

&reg_vdd_tsp {
	status = "disabled"; // TODO: Replace GPIO with this regulator
};

&blsp_i2c5 {
	status = "okay";

 	bt541@20 {
		compatible = "zinitix,bt541";
		reg = <0x20>;
		interrupt-parent = <&msmgpio>;
		interrupts = <13 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&tsp_default>;
		vddo-supply = <&pm8916_l6>;
		vdd_enable-gpio = <&msmgpio 73 GPIO_ACTIVE_HIGH>;
		touchscreen-size-x = <540>;
		touchscreen-size-y = <960>;
	};
};

&dsi0 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pmx_mdss_default>;
	pinctrl-1 = <&pmx_mdss_sleep>;

	panel@0 {
		reg = <0>;

		compatible = "samsung,s6e88a0-ams452ef01";

		extra-power-gpios = <&msmgpio 9 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&msmgpio 25 GPIO_ACTIVE_HIGH>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi0_out>;
			};
		};
	};

	ports {
		port@1 {
			dsi0_out: endpoint {
				remote-endpoint = <&panel_in>;
				data-lanes = <0 1>;
			};
		};
	};
};

&msmgpio {
	pmx_mdss_default: pmx_mdss_default {
		pinmux {
			function = "gpio";
			pins = "gpio9", "gpio25";
		};
		pinconf {
			drive-strength = <8>;
			bias-disable;
		};
	};

	pmx_mdss_sleep: pmx_mdss_sleep {
		pinmux {
			function = "gpio";
			pins = "gpio9", "gpio25";
		};
		pinconf {
			drive-strength = <2>;
			bias-pull-down;
		};
	};

	tsp_default: tsp_default {
		pinmux {
			function = "gpio";
			pins = "gpio13", "gpio73";
		};
		pinconf {
			drive-strength = <2>;
			bias-disable;
		};
	};
};
