// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-pm8916.dtsi"

/ {
    model = "vivo Y927 (PD1410V)";
    compatible = "vivo,y927", "qcom,msm8916";
    chassis-type = "handset";
};