// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-samsung-gprime-common.dtsi"
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>

/ {
	model = "Samsung Galaxy Grand Prime (CAN)";
	compatible = "samsung,gprimeltecan", "qcom,msm8916";
	chassis-type = "handset";

	reserved-memory {
		/* Additional memory used by Samsung firmware modifications */
		tz-apps@85500000 {
			reg = <0x0 0x85500000 0x0 0xb00000>;
			no-map;
		};

		mpss_mem: mpss@86800000 {
			reg = <0x0 0x86800000 0x0 0x5800000>;
			no-map;
		};

		gps_mem: gps@8c000000 {
			reg = <0x0 0x8c000000 0x0 0x200000>;
			no-map;
		};
	};
};

&blsp_i2c2 {
	status = "okay";

	accelerometer: accelerometer@10 {
		compatible = "bosch,bmc150_accel";
		reg = <0x10>;
		interrupt-parent = <&msmgpio>;
		interrupts = <115 IRQ_TYPE_EDGE_RISING>;

		vdd-supply = <&pm8916_l5>;
		vddio-supply = <&pm8916_l5>;

		pinctrl-names = "default";
		pinctrl-0 = <&accel_int_default>;

		mount-matrix = "0", "-1", "0",
			       "-1", "0", "0",
			       "0", "0", "1";
	};

	magnetometer@12 {
		compatible = "bosch,bmc150_magn";
		reg = <0x12>;

		vdd-supply = <&pm8916_l5>;
		vddio-supply = <&pm8916_l5>;
	};
};

&blsp_i2c6 {
	status = "okay";

	nfc@27 {
		compatible = "samsung,s3fwrn5-i2c";
		reg = <0x27>;

		interrupt-parent = <&msmgpio>;
		interrupts = <21 IRQ_TYPE_EDGE_RISING>;

		en-gpios = <&msmgpio 20 GPIO_ACTIVE_HIGH>;
		wake-gpios = <&msmgpio 49 GPIO_ACTIVE_HIGH>;

		clocks = <&rpmcc RPM_SMD_BB_CLK2_PIN>;

		pinctrl-names = "default";
		pinctrl-0 = <&nfc_default &nfc_clk_req>;
	};
};

&msmgpio {
	accel_int_default: accel-int-default {
		pins = "gpio115";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};

	nfc_default: nfc-default {
		pins = "gpio20", "gpio49";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;

		irq {
			pins = "gpio21";
			function = "gpio";

			drive-strength = <2>;
			bias-pull-down;
		};
	};
};

&pm8916_gpios {
	nfc_clk_req: nfc-clk-req {
		pins = "gpio2";
		function = "func1";

		input-enable;
		bias-disable;
		power-source = <PM8916_GPIO_L2>;
	};
};
