// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-thwc-mf601xx.dtsi"

/ {
	model = "Tong Heng Wei Chuang 4G Modem Stick MF601SL_CT_V07";
	compatible = "thwc,mf601sl-v7", "qcom,msm8916";
};

&button_wps {
	// This button does not exist on this model.
	status = "disabled";
};

&leds {
	led-wan-green {
		color = <LED_COLOR_ID_GREEN>;
		function = LED_FUNCTION_WAN;
		gpios = <&msmgpio 116 GPIO_ACTIVE_HIGH>;
	};

	led-wan-red {
		color = <LED_COLOR_ID_RED>;
		function = LED_FUNCTION_WAN;
		gpios = <&msmgpio 115 GPIO_ACTIVE_HIGH>;
	};

	led-battery-green {
		color = <LED_COLOR_ID_GREEN>;
		function = LED_FUNCTION_POWER;
		gpios = <&msmgpio 112 GPIO_ACTIVE_HIGH>;
	};

	led-battery-red {
		color = <LED_COLOR_ID_RED>;
		function = LED_FUNCTION_POWER;
		gpios = <&msmgpio 110 GPIO_ACTIVE_HIGH>;
	};

	led-message-green {
		color = <LED_COLOR_ID_GREEN>;
		function = LED_FUNCTION_INDICATOR;
		gpios = <&msmgpio 22 GPIO_ACTIVE_HIGH>;
	};

	led-message-red {
		color = <LED_COLOR_ID_RED>;
		function = LED_FUNCTION_INDICATOR;
		gpios = <&msmgpio 121 GPIO_ACTIVE_HIGH>;
	};

	led-wifi-green {
		color = <LED_COLOR_ID_GREEN>;
		function = LED_FUNCTION_WLAN;
		gpios = <&msmgpio 120 GPIO_ACTIVE_HIGH>;
	};

	led-wifi-red {
		color = <LED_COLOR_ID_RED>;
		function = LED_FUNCTION_WLAN;
		gpios = <&msmgpio 119 GPIO_ACTIVE_HIGH>;
	};
};
