// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-samsung-gprime-common.dtsi"

/ {
	model = "Samsung Galaxy Grand Prime 3G (G530H)";
	compatible = "samsung,fortuna3g", "qcom,msm8916";
	chassis-type = "handset";
};