// SPDX-License-Identifier: GPL-2.0-only

&msmgpio {
	muic_int_default: muic_int_default {
		pinmux {
			function = "gpio";
			pins = "gpio12";
		};
		pinconf {
			pins = "gpio12";
			drive-strength = <2>;
			bias-disable;
		};
	};

	gpio_keys_default: gpio_keys_default {
		pinmux {
			function = "gpio";
			pins = "gpio107", "gpio109";
		};

		pinconf {
			pins = "gpio107", "gpio109";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	gpio_hall_sensor_default: gpio_hall_sensor_default {
		pinmux {
			function = "gpio";
			pins = "gpio52";
		};

		pinconf {
			pins = "gpio52";
			drive-strength = <2>;
			bias-disable;
		};
	};
};
