// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-samsung-gprime-common.dtsi"

/*
 * NOTE: The original firmware from Samsung can only boot ARM32 kernels on some
 * variants.
 * Unfortunately, the firmware is signed and cannot be replaced easily.
 * There seems to be no way to boot ARM64 kernels on 32-bit devices at the
 * moment, even though the hardware would support it.
 *
 * However, it is possible to use this device tree by compiling an ARM32 kernel
 * instead. For clarity and build testing this device tree is maintained next
 * to the other MSM8916 device trees. However, it is actually used through
 *   arch/arm/boot/dts/qcom-msm8916-samsung-gprime.dts
*/

/ {
	model = "Samsung Galaxy Grand Prime";
	compatible = "samsung,gprime", "qcom,msm8916";
	chassis-type = "handset";

	i2c-nfc {
		compatible = "i2c-gpio";
		sda-gpios = <&msmgpio 0 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&msmgpio 1 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;

		pinctrl-names = "default";
		pinctrl-0 = <&nfc_i2c_default>;

		#address-cells = <1>;
		#size-cells = <0>;

		nfc@2b {
			compatible = "nxp,pn547", "nxp,nxp-nci-i2c";
			reg = <0x2b>;

			interrupt-parent = <&msmgpio>;
			interrupts = <21 IRQ_TYPE_EDGE_RISING>;

			enable-gpios = <&msmgpio 20 GPIO_ACTIVE_HIGH>;
			firmware-gpios = <&msmgpio 49 GPIO_ACTIVE_HIGH>;

			pinctrl-names = "default";
			pinctrl-0 = <&nfc_default>;
		};
	};
};

&blsp_i2c2 {
	accelerometer@1d {
		mount-matrix = "1", "0", "0",
			      "0", "-1", "0",
			       "0", "0", "1";
	};
};

&dsi0 {
	panel@0 {
		compatible = "samsung,gprime-panel";
		reg = <0>;
		vreg-supply = <&pm8916_l6>;
		vdd-supply = <&reg_vdd_lcd>;
		reset-gpios = <&msmgpio 25 GPIO_ACTIVE_LOW>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi0_out>;
			};
		};
	};
};

&dsi0_out {
	data-lanes = <0 1>;
	remote-endpoint = <&panel_in>;
};

&msmgpio {
	nfc_default: nfc-default {
		pins = "gpio20", "gpio49";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;

		irq {
			pins = "gpio21";
			function = "gpio";

			drive-strength = <2>;
			bias-pull-down;
		};
	};

	nfc_i2c_default: nfc-i2c-default {
		pins = "gpio0", "gpio1";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};
};
